<div class="header">
	<h1 class="name">Kaela Clement</h1>
	<h3 class="title">Apprentice DevOps Engineer</h3>
</div>

<div class="about">
	<h3>The Personal Stuff</h3>

	<p>
		Having recently moved from San Francisco, I’m excited to grow as a DevOps Engineer in my new home. I’m at my
		best
		when working on a challenge, and when I’m able to help others. Programming is the perfect way to do both. I pick
		up new skills quickly, and learned to code largely independently, but I love having a team. From social media,
		to banking apps, to self care and symptom trackers, accessibility and equality can and should be driven by
		developers. I believe tech is the way forward, and want to add my voice to a more accessible future. In my spare
		time I’m a yoga student, writer, and avid home cook.
	</p>
</div>

<div class="technical">
	<h3>The Technical Stuff</h3>

	<div class="skills">
		<div class="languages">
			<p>Languages</p>
			<ul>
				<li>Ruby</li>
				<li>JavaScript</li>
				<li>C#</li>
				<li>SQL</li>
				<li>HTML5</li>
				<li>CSS</li>
			</ul>
		</div>

		<div class="frameworks">
			<p>Frameworks</p>
			<ul>
				<li>Ruby on Rails</li>
				<li>Node.js</li>
				<li>Express</li>
				<li>MongoDB</li>
				<li>SQLite</li>
				<li>PostgreSQL</li>
				<li>React</li>
				<li>Redux</li>
			</ul>
		</div>
	</div>

	<div class="experience">
		<h3>Experience & Education</h3>

		<div class="xp">
			<p>TalkTalk <span>Current - Apprentice DevOps Engineer</span></p>
			<ul>
				<li>Provide support for switch to automatically provisioned environments</li>
				<li>Azure DevOps, Terraform, and Puppet</li>
			</ul>
		</div>

		<div class="xp">
			<p>Code Nation <span>2020 - Master: Coding</span></p>
			<ul>
				<li>JavaScript, React, Node.js and Express</li>
				<li>C# with Microsoft SQL</li>
			</ul>
		</div>

		<div class="xp">
			<p>Flatiron School <span>2019 - Online Software Engineering Immersive</span></p>
			<ul>
				<li>Ruby on Rails, JavaScript, and React</li>
				<li>Built and kept schedule for self-paced program</li>
			</ul>
		</div>
	</div>

</div>