<h1>Kaela Clement</h1>
<h3>Apprentice DevOps Engineer</h3>

<p>Having recently moved from San Francisco, I’m excited for the opportunities waiting for me in the UK. I’m at my best when working on a challenge, and when I’m able to help others. Programming is the perfect way to do both. I pick up new skills quickly, and learned to code largely independently, but I’m excited to work and grow within a team moving forward. From social media, to banking apps, to self care and symptom trackers, accessibility and equality can and should be driven by developers. I believe tech is the way forward, and want to add my voice to a more accessible future. In my spare time I’m a yoga student, writer, and avid home cook.</p>
